@import url("https://use.typekit.net/gox8euy.css");

$main-font:ubuntu, sans-serif;

body {
  margin: 0;
  background-color: rgb(255, 250, 224);
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: buntu, sans-serif;
}

.searchIcon {
  color: #29a083;
  text-align: center;
  align-items: center;
}

::placeholder { 
  opacity: 0.3;
}

table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: left;
  line-height: 140%;
}

td {
  padding-top: 0.2rem;
}

.recipeTitle {
  margin: 2rem;
}

.sc-cKRKFl hWYbqW {
  padding: 0;
}

.sc-bfbdqI sc-dHvAuG eRicIJ jqWYRx {
  text-align: center;
  display: block;
}

.sc-dvUynV sc-kizEQm cASDuO fgsCoj {
  text-align: center;
  display: block;
}

.sc-hKFxyN sc-gKAaRy dwOFoC gVIqSx {
  text-align: center;
  display: block;
}

.dwOFoC {
  @media (max-width: 650px) {
    display: block;
    margin-bottom: 1rem;
  }
}

.fHtiHo {
  @media (max-width: 650px) {
    display: block;
    margin: auto;
  }
}